<!DOCTYPE html>
<html class="init">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="bare-css.css">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <title>Energy Meter</title>
</head>


<body>
<nav id="header">
<label>
<input type="checkbox">
  <header><a href="/"><img src="favicon.png">Energy Meter</a></header>
  <ul>
    <li><a class="status" href="status.html">Status</a></li>
    <li><a class="config" href="config.html">Config</a></li>
</label>
</nav>


<main>
<section>
  JIGGLYPUFF
</section>
</main>


<footer>
</footer>
</body>
</html>
